<span *ngFor="let pick of picks" class="content">
  {{ pick.gameid }} , 
</span>

<div *ngFor="let game of games" class="content">
  <div class="row">
      <div class="col-md-2 small">
        <input type="radio" (click)="deSelect(game)" name="{{ game.id }}" ng-control="game.id" id="{{ game.id }}_ds" [value]="game.awayTeamID"> de-select
      </div>
    <div class="col-md-3 away">
      <span class="team away">{{ game.away }} <br/>{{ game.awayTeamID }}<br/> {{ game.myPick?.id }}</span>
      <span class="team away abbrev">{{ game.awayAbbrev }}</span>
      <input type="radio" 
        [checked]="picked(game, game.awayTeamID)" 
        (change)="updatePick(game, game.awayTeamID)"
        name="{{ game.id }}" 
        id="{{ game.id }}_away" 
        [value]="game.awayTeamID">
    </div>
    <div class="col-md-1 at text-center">@<br />{{ game.id }}<br />{{ game.myPick?.winnerID }}</div>
    <div class="col-md-3">
      <input type="radio" 
        [checked]="picked(game, game.homeTeamID)" 
        (change)="updatePick(game, game.homeTeamID)"
        name="{{ game.id }}" 
        id="{{ game.id }}_home" 
        [value]="game.homeTeamID">
      <span class="team home">{{ game.home }} <br/>{{ game.homeTeamID }} <br/>{{ game.myPick?.id }}</span>
      <span class="team home abbrev">{{ game.homeAbbrev }}</span>
    </div>
    <div class="col-md-2">
        <span class="date at small">{{ game.gameDateET }}</span>
    </div>
  </div>
</div>